[user]
	name = Axel Froborg
	email = axel.froborg@gmail.com
	signingkey = ~/.config/git/signingkey.pub
[init]
	defaultBranch = main
[pull]
	rebase = true
	autostash = true
[commit]
	gpgsign = true
[core]
  excludesfile = ~/dotfiles/git/.globalignore
  editor = nvim
  sshCommand = ssh -o IdentitiesOnly=yes -i ~/.ssh/github.com.pub
[push]
  autoSetupRemote = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
[rebase]
  autostash = true
[include]
  path = ~/.gitconfig.local
