[user]
	name = Axel Froborg
	email = axel.froborg@gmail.com
	signingkey = ~/.config/git/signingkey.pub
[init]
	defaultBranch = main
[pull]
	rebase = true
	autostash = true
[commit]
	gpgsign = true
[core]
  excludesfile = ~/dotfiles/.globalignore
[push]
  autoSetupRemote = true
[core]
  editor = nvim
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed-signers
[gpg]
	format = ssh
[rebase]
	autostash = true
